/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
header{
    width: 100%;
    text-align: center;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;

}




.collage{
    overflow: hidden;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.collage :nth-last-child(n+2){
    margin: 10px;
    flex-basis: 40vh ;
}

/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */